body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f0f0f0;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

span {
    color: aqua;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid aqua;
}
header h1 {
    margin-top: 10px;
    font-size: 28px;
    color: #fff;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.links a {
    text-decoration: none;
    margin: 0 15px; 
}

.links {
    display: flex;
    justify-content: center;         /* Pusatkan logo secara horizontal */
    gap: 30px; 
    margin: 20px 0;                      /* Jarak antara logo Instagram dan LinkedIn */
}

.links a img {
    width: 60px;                     /* Ukuran logo */
    height: 60px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #bbb;
}
@media (max-width: 768px) {
    .gallery img {
        width: 45%;
    }

    .links a {
        display: block;
        margin: 10px 0;
    }

    .links a img {
        width: 60px; 
        height: 60px;
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: 100%;
    }

    .links a {
        display: block;
        margin: 10px 0;
    }

    .links a img {
        width: 70px;
        height: 70px;
        align-items: center;
        margin-left: 40px;
    }
}